.vscode/settings.json
log.txt
errors.txt
traceback.txt
_reload-2-LT1.save
auto-1-LT1.save
auto-2-LT1.save
auto-3-LT1.save
auto-4-LT1.save
auto-5-LT1.save
auto-6-LT1.save
auto-7-LT1.save
auto-8-LT1.save
auto-9-LT1.save
auto-10-LT1.save
quick-1-LT1.save
game/saves/1-1-LT1.save
